{% from "macros.html" import selector %}
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/prod.js"></script>
        <script type="text/javascript">
            function updateOptions(type) {
                if (type === 'INGRESO') {
                    $('#desde_bodega').hide();
                    $('#hasta_externa').hide();
                    $('#hasta_bodega').show();
                } else if (type == 'EXTERNA') {
                    $('#desde_bodega').show();
                    $('#hasta_externa').show();
                    $('#hasta_bodega').hide();
                } else if (type == 'TRANSFER') {
                    $('#desde_bodega').show();
                    $('#hasta_externa').hide();
                    $('#hasta_bodega').show();
                } else if (type == 'EGRESO') {
                    $('#desde_bodega').show();
                    $('#hasta_externa').hide();
                    $('#hasta_bodega').hide();
                }
            }
            $(document).ready(function(){
                initEvents();
                var a = getRow();
                $("#insert").append(a);
                $("select#tipo").change(function() {
                    var type = $(this).val();
                    updateOptions(type);
                });
                $('#cargar_ingreso').click(function() {
                    var ing_id = $('#ingreso_id').val();
                    getIngreso(ing_id, function(status, result) {
                        for (var i in result.items) {
                            var row = result.items[i];
                            var cant = row['cant'];
                                if (cant > 0 ) {
                                $('#cod' + (count-1)).val(row.prod['prod_id']);
                                $('#cant' + (count-1)).val(cant);
 ;                               $('#span' + (count-1)).html(row.prod.name);
                                var newRow = getRow();
                                $("#insert").append(newRow);
                            }
                        }
                    });
                });
                
            });
        </script>
        <style> input.text_field { width : 100px }
            .center {
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
    {% if revision %}
    <h2> Corregir inventario de Bodega </h2>
    {% endif %}
    <div class="center">
        <button onClick="window.location='/app';" > Regresar </button>
	{% if not revision %}
	<input id="ingreso_id"/> <button id="cargar_ingreso"> Copiar Ingreso Viejo</button>
	{% endif %}
        <form id="p" method="post">
            <p><input type="submit" value="Guardar"/></p>
    {% if not revision %}
            <p>Fecha: <input name="fecha" value="{{today().isoformat()}}"/></p>
            <select id="tipo" name="trans_type">
                {% for o in types %}
                <option value="{{o}}">{{o}}</option>
                {% endfor %}
            </select>
    {% endif %}
            <br/>
	      {% if not revision %}
                <div id="desde_bodega" class="type_select" style="display:none;">
                    <label>Desde bodega:</label>
                    {{ selector(bodegas, 'origin', 'id', 'nombre') }}
                </div>
	     {% endif %}
                <div id="hasta_bodega" class="type_select" >
	      {% if not revision %}
                <label>Hasta bodega:</label>
              {%else%}
                <label>bodega:</label>
	     {% endif %}
                {{ selector(bodegas, 'dest', 'id', 'nombre') }}
                </div>
                <table id="insert" cellspacing="10px">
                    <tr>
                        <td></td>
                        <th> Codigo </th>
                        <th> Cantidad </th>
                        <th> Nombre de Producto </th>
                    </tr>
                </table> 
            </form>
        </div>
    </body>
</html>
