{% from "macros.html" import selector %}
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/prod.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                initEvents();
                var a = getRow();
                $("#insert").append(a);
                $("select#tipo").change(function() {
                    var type = $(this).val();
                    updateOptions(type);
                });
                $('#cargar_ingreso').click(function() {
                    var ing_id = $('#ingreso_id').val();
                    getIngreso(ing_id, function(status, result) {
                        for (var i in result.items) {
                            var row = result.items[i];
                            var cant = row[2];
                                if (cant > 0 ) {
                                $('#cod' + (count-1)).val(row[1]);
                                $('#cant' + (count-1)).val(row[2]);
 ;                               $('#span' + (count-1)).html(row[3]);
                                var newRow = getRow();
                                $("#insert").append(newRow);
                            }
                        }
                    });
                });
                
            });
        </script>
        <style> input.text_field { width : 100px }
            .center {
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
    <div class="center">
        <button onClick="window.location='/app';" > Regresar </button>
        <form id="p" method="post" action="/app/crear_ingreso">
            <p><input type="submit" value="Guardar"/></p>
            <p>Fecha: <input name="fecha" value="{{today().isoformat()}}"/></p>
            <br/>
                <div id="bodega" class="type_select">
                    <label>Desde bodega:</label>
                    {{ selector(bodegas, 'origin', 'id', 'nombre') }}
                </div>
                <table id="insert" cellspacing="10px">
                    <tr>
                        <td></td>
                        <th> Codigo </th>
                        <th> Cantidad </th>
                        <th> Nombre de Producto </th>
                    </tr>
                </table> 
            </form>
        </div>
    </body>
</html>
