<html>
<body>
<h4>Revision de Bodegas: {{meta.uid}} de {{bodega_name}}</h4>

<form method="post">
    <input type="submit" />
    <table>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Cantidad en Kardex</th>
            <th>Cantidad contado</th>
        </tr>
        {% for p in items %}
        <tr>
            <td>{{ p.codigo }}</td>
            <td>{{ p.nombre}}</td>
            <td>{{ p.cantidad}}</td>

            <td>
                {% if meta.status == 'CONTADO' %}
                {{ p.contado }}
                {% else %}
                <input name="prod-cant-{{p.codigo}}"/>
                {% endif%}
            </td>
        </tr>
        {% endfor %}
    </table>
</form>


</body>
</html>