<html>
<head>

    <script src="/static/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        var rid = {{meta.uid}};
        $(document).ready(function() {
            $('#ajustar').click(function(event) {
                event.preventDefault();
                var url = '/api/revision/' + rid;
                $.ajax({
                    method: 'PUT',
                    url: url,
                    success: function() {
                        alert('Ajustado');
                    },
                    failure: function() {
                        alert('fallo en ajustar');
                    }
                });
            });
        });

    </script>
</head>
<body>
<h4>Revision de Bodegas: {{meta.uid}} de {{bodega_name}}</h4>

<form method="post">
    {% if meta.status == 'CONTADO' %}
        <button id="ajustar">Ajustar</button>
    {% elif meta.status == 'NUEVO'%}
        <input type="submit" value="Guardar"/>
    {% endif %}
    <h4>Estado: {{meta.status}}</h4>
    <h4>Creado por: {{meta.created_by}}</h4>
    <h4>Fecha: {{meta.timestamp.date().isoformat()}}</h4>
    <table>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Cantidad en Kardex</th>
            <th>Cantidad contado</th>
        </tr>
        {% for p in items %}
        <tr>
            <td>{{ p.codigo }}</td>
            <td>{{ p.nombre}}</td>
            <td>{{ p.cantidad}}</td>

            <td>
                {% if meta.status == 'NUEVO' %}
                <input name="prod-cant-{{p.codigo}}"/>
                {% else %}
                {{ p.contado}}
                {% endif%}
            </td>
        </tr>
        {% endfor %}
    </table>
</form>

</body>
</html>