<html>
<head>
<style>
    .small {
        width: 80px;
    }
    .big{
        width: 250px;
    }
</style>
</head>
<body>
<form action="/app/ver_cantidad" method="get">
    Nombre:
    <input name="prefix" value="{{ prefix }}"/>
    <select name="bodega_id">
        {% for s in bodegas%}
            <option value="{{s.id}}">{{s.nombre}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Buscar" />
</form>
<div>
    <h3>Cantidad de {{ bodega_name }}</h3>
    <table>
        <tr>
            <th>Codigo</th>
            <th>Nombre a mostrar</th>
            <th>Cantidad </th>
            <th></th>
        </tr>
        {% for p in prods %}
        <tr id="{{p.prod_id}}">
            <td>{{p.prod_id}}</td>
            <td>{{p.nombre}}</td>
            <td>{{ p.cant }}</td>
            <td id="{{p.prod_id}}-activo">{% if p.inactivo %} Inactivo {% else %} Activo {% endif %}</td>
            <td><button class="toggle" bod="{{p.bodega_id}}" prod="{{p.prod_id}}">Cambiar estado</button></td>
        </tr>
        {% endfor %}
    </table>
</div>
<script src="/static/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $('document').ready(function() {
        $('.toggle').click(function() {
            var bod = $(this).attr('bod');
            var prod = $(this).attr('prod');
            var act = $('#' + prod + '-activo').html();
            var boolact = (act.replace(/^\s+|\s+$/g, '') == 'Activo');
            var url = '/app/api/bod/' + bod + '/producto/' + prod;
            $.ajax({
                'url': url,
                'data': JSON.stringify({'inactivo': boolact}),
                'method': 'PUT',
                'success': function(data) {
                    var newval = data.inactivo ? 'Inactivo' : 'Activo';
                    $('#' + prod + '-activo').html(newval);
                },
                'failure': function(result) {
                    alert(result);
                }
            });
        });
    });
</script>
</body>
</html>
