{% import "macros.html" as macro %}
{% extends "base.html" %}
{% block content %}
<h3> {{title}}</h3>
<form action="/app/accounting.xml" method="get">
    {{ macro.start_end_date() }}
    <p><label>RUC: </label>
        <select name="alm"></p>
            {% for s in stores %}
            <option value="{{s.ruc}}">{{s.nombre}} ({{ s.ruc }})</option>
            {% endfor %}
        </select></p>
    <p><input type="submit" name="form_type" value="ats"/>
    <input type="submit" name="form_type" value="resumen"/>
    </p>
</form>
{% endblock %}
