
{% extends "base.html" %}

{% block content %}
<h3>Entrega de Cuenta: {{date}}</h3>
<h3>Estado:
    {% if existing %}
        {% if existing.revised_by %}
            Revisado por {{existing.revised_by}}
        {% else %}
            creado
        {% endif %}
    {% else %}
        nuevo
    {% endif %}
</h3>
<p>
<h3>Ventas</h3>
<h4>Efectivo: {{ value_from_cents(total_cash) }}</h4>
<ul>
    {% for s, v in cash.items() %}
    <li>{{ s }}: {{ value_from_cents(v) }}</li>
    {% endfor %}
</ul>

{% for client_id, items in others.items() %}
    {% if items %}
    <h4> {{ items[0].client.fullname }}: Compra: {{ value_from_cents(items|sum(attribute='total'))}}
         Pago: {{ value_from_cents(pagos[client_id]|sum(attribute='value')) }}
    </h4>
    <table>
        {% for i in items %}
        <tr>
            <th>Compra: </th>
            <td> <a href="/app/nota/{{ i.uid }}">{{i.uid}}</a> </td>
            <td> {{ i.codigo }} </td>
            <td> {{ i.payment_format}} </td>
            <td> {{ value_from_cents(i.total) }} </td>
        </tr>
        {% endfor %}
        {% for i in pagos[client_id] %}
        <tr>
            <td>Pago: </td>
            <td> {{ i.note_id}} </td>
            <td> {{ i.date}} </td>
            <td> {{ i.type}} </td>
            <td> {{ value_from_cents(i.value)}} </td>
        </tr>
        {% endfor %}

    </table>
    {% endif %}
{% endfor %}

<h3>A entregar:</h3>
{% set deposit = "" %}
{% set total_spend = "" %}
{% set turned_cash = "" %}
{% set display = True%}
{% if existing %}
{% set deposit = value_from_cents(existing.deposit) %}
{% set total_spend = value_from_cents(existing.total_spend) %}
{% set turned_cash = value_from_cents(existing.turned_cash) %}
{% set display = existing.revised_by is none%}
{% endif %}
<form method="post" action="/app/crear_entrega_de_cuenta">
    <input type="hidden" name="date" value="{{date}}" />
    <input type="hidden" name="cash" value="{{value_from_cents(total_cash)}}" />
    <p>Gastos:
        <input name="gastos" placeholder="Total de Gastos" value="{{total_spend}}" {%if not display%}readonly{%endif%}/></p>
    <p>Deposito:
        <input name="deposito" placeholder="Valor que entrego al brindado" value="{{deposit}}"{%if not display%}readonly{%endif%} /></p>
    <p>Efectivo:
        <input name="valor" placeholder="Valor a entregar" value="{{turned_cash}}"{%if not display%}readonly{%endif%} /></p>
    {% if existing %}
    <p>Diff: {{ value_from_cents(total_cash - existing.deposit - existing.turned_cash - existing.total_spend) }} </p>
    <input id="Revisar" type="submit" name="submit" value="Revisar" />
    {% else %}
    <input type="submit" name="submit" value="Crear" />
    {% endif %}
</form>

{% endblock %}
