
{% extends "base.html" %}
{% from "macros.html" import post_img_form %}
{% block script %}
<style>
    td, input{
        text-align: right;
    }
</style>
{% endblock %}

{% block content %}
<h3>Entrega de Cuenta: {{date}}</h3>
<h3>Estado:
    {% if existing %}
        {% if existing.revised_by %}
            Revisado por {{existing.revised_by}}
        {% else %}
            creado
        {% endif %}
    {% else %}
        nuevo
    {% endif %}
</h3>
<p>
<h3>Ventas</h3>
<h4>Efectivo: {{ value_from_cents(total_cash) }}</h4>
<ul>
    {% for s, v in cash.items() %}
    <li>{{ s }}: {{ value_from_cents(v) }}</li>
    {% endfor %}
    <li>Abonos: {{ value_from_cents(other_cash) }}</li>
</ul>

{% for client_id, items in others.items() %}
    {% if items %}
    <h4> {{ items[0].client.fullname }}: Compra: {{ value_from_cents(items|sum(attribute='total'))}}
         Pago: {{ value_from_cents(pagos[client_id]|sum(attribute='value')) }}
    </h4>
    <table>
        {% for i in items %}
        <tr>
            <th>Compra: </th>
            <td> <a href="/app/nota/{{ i.uid }}">{{i.uid}}</a> </td>
            <td> {{ i.codigo }} </td>
            <td> {{ i.payment_format}} </td>
            <td> {{ value_from_cents(i.total) }} </td>
        </tr>
        {% endfor %}
        {% for i in pagos[client_id] %}
        <tr>
            <td>Pago: </td>
            <td> {{ i.note_id}} </td>
            <td> {{ i.date}} </td>
            <td> {{ i.type}} </td>
            <td> {{ value_from_cents(i.value)}} </td>
        </tr>
        {% endfor %}

    </table>
    {% endif %}
{% endfor %}

<h4>Eliminados</h4>
<table>
{% for i in deleted %}
<tr>
    <td> <a href="/app/nota/{{ i.uid }}">{{i.uid}}</a> </td>
    <td> {{ i.codigo }} </td>
    <td> {{i.client.fullname}}</a> </td>
    <td> {{ i.payment_format}} </td>
    <td> {{ value_from_cents(i.total) }} </td>
</tr>
{% endfor %}
</table>


{% set total_retension =  retension| sum(attribute='value')%}
<h4> Retensiones: {{value_from_cents(retension| sum(attribute='value')) }}</h4>
{% for x in retension%}
<p> {{ x.note_id }} {{x.date}} {{value_from_cents(x.value)}}</p>
{% endfor %}

<h4>Gastos: {{ value_from_cents(total_spent) }}</h4>
{% for x in all_spent %}
<p> <a href="/app/guardar_gastos/{{x.uid}}">{{x.uid}}</a> {{x.desc}} {{value_from_cents(x.total)}} {{value_from_cents(x.paid_from_cashier)}}</p>
{% endfor %}

<h3>A entregar:</h3>
{% set deposit = "" %}
{% set turned_cash = "" %}
{% set display = True%}
{% if existing %}
{% set deposit = value_from_cents(existing.deposit) %}
{% set turned_cash = value_from_cents(existing.turned_cash) %}
{% set display = existing.revised_by is none%}
{% endif %}
<form method="post" action="/app/crear_entrega_de_cuenta">
    <input type="hidden" name="date" value="{{date}}" />
    <input type="hidden" name="cash" value="{{value_from_cents(total_cash)}}" />
    <input type="hidden" name="gastos" value="{{value_from_cents(total_spent)}}" />
    <table>
        <tr>
            <td>Deposito:</td>
            <td><input name="deposito" placeholder="Valor que entrego al brindado" value="{{deposit}}"{%if not display%}readonly{%endif%} /></td>
        </tr>
        <tr>
            <td>Efectivo:</td>
            <td><input name="valor" placeholder="Valor a entregar" value="{{turned_cash}}"{%if not display%}readonly{%endif%} /></td>
        </tr>

        {% if existing %}
        {% set entrega_total = total_retension + total_spent + existing.deposit + existing.turned_cash %}
        <tr>
            <td>Gastos:</td> 
            <td>{{value_from_cents(total_spent)}}</td>
        </tr>
        <tr>
            <td>Retensiones:</td>
            <td>{{value_from_cents(total_retension)}}</td>
        </tr>
        <tr>
            <td>Total:  </td> 
            <td>{{value_from_cents(entrega_total)}}</td>
        </tr>
    </table>
    <p>{{value_from_cents(entrega_total)}} - {{ value_from_cents(total_cash) }} = {{ value_from_cents(entrega_total - total_cash) }}</p>
    <input type="hidden" name="diff" value="{{value_from_cents(entrega_total - total_cash)}}" />
    <input id="Revisar" type="submit" name="submit" value="Revisar" />
    {% else %}
    <input type="submit" name="submit" value="Crear" />
    {% endif %}
</form>

{% endblock %}
