{% extends "base.html" %}

{% block content %}
<h4>Compras o Gastos:</h4>
<form method="post">
    <p>Provedor: <input name="seller" /></p>
    <p>Provedor RUC: <input name="seller_ruc" /></p>
    <p>Numero Factura: <input name="invnumber" /></p>
    <p>Fecha Factura: <input name="invdate" /></p>
    <p>Descripcion: <input name="desc" /></p>
    <p>total: <input name="total" /></p>
    <p>iva: <input name="tax" /></p>
    <p>Pagado desde la caja: <input type="checkbox" name="paid_with_sale" checked /></p>
    <p><input type="submit" value="Guardar"/></p>

</form>
{% endblock %}