<html>
<head>
  <style>
    body {
        text-align : center;
    }
    .centro {
        text-align:center;
    }
    td, th{
        text-align:right;
    }
    table {
      width: 1000;
      align: center;
    }
  </style>
</head>
<body>
  {% from "macros.html" import selector, start_end_date_oneline %}
  <button onClick="window.print();" > Imprimir </button>
  <button onClick="window.location='/app';" > Regresar al principio </button>
  <h4>{{ title }}</h4>
  <form>
    {% if show_titular %}
    Titular: <input name="titular" value="{{titular}}"/>
    {% endif %}
      {{ start_end_date_oneline(start, end) }}
    <input type="submit" value="Buscar"/>
  </form>
  <form method="post" action="/app/guardar_cheque_deposito">
  <table>
    <tr>
      <th>Fecha de compra</th>
      <th>Banco</th>
      <th>Titular</th>
      <th>Valor</th>
      <th>Fecha de Cheque</th>
      <th>No. Orden</th>
      <th>Depositado</th>
      <th></th>
    </tr>
    {% for c in checks %}
    <tr>
      <td>{{ c.date }}</td>
      <td>{{ c.bank }}</td>
      <td>{{ c.holder }}</td>
      <td>{{ value_from_cents(c.value) }}</td>
      <td>{{ c.checkdate }}</td>
      <td>{% if c.note_id is not none%} <a href="/app/nota/{{c.note_id}}">{{c.note_id}}</a>{% endif %} </td>
      {% if c.deposit_account %}
      <td>{{ c.deposit_account }}</td>
      {% else %}
      <td>{{ selector(accounts, 'acct-%d' % c.uid, 'name', 'name') }}</td>
      {% endif %}
      <td><a href="/app/ver_cheque/{{c.uid}}">Ver</a></td>
    </tr>
    {% endfor %}
  </table>
    <input type="hidden" value="{{thisurl}}" name="next" />
  <p><input type="submit" value="Guardar" /></p>
  </form>
</body>
