<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nota {{nota.uid}}</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<p>AlmId: {{ nota.almacen_ruc }}</p>
<p>Codigo: {{ nota.orig_codigo }}</p>
<p>Cliente: {{ nota.buyer_name }}</p>
<p>IVa: {{ nota.tax / 100}}</p>
<p>TOTAL: {{ nota.total / 100}}</p>
<p>STATUS: {{ nota.status }}</p>
<button id="enviar" uid="{{nota.uid}}">Enviar a SRI</button>
<p>================================================</p>
<textarea readonly rows="50" cols="120" style="border:none;">
{{ json }}
</textarea>
<p>================================================</p>
<textarea readonly rows="50" cols="120" style="border:none;">
{{ xml1 }}
</textarea>
<p>================================================</p>
<h3>RESP 1</h3>
<textarea readonly rows="50" cols="120" style="border:none;">
{{ resp1 }}
</textarea>
<p>================================================</p>
<h3>RESP 2</h3>
<textarea readonly rows="50" cols="120" style="border:none;">
{{ resp2 }}
</textarea>

<script>
    $('#enviar').click(function() {
        var uid = $('#enviar).attr('uid');
        $.ajax( {
            url: '/app/validate_remote',
            data: {uid: uid},
            success: function() {
                alert("success");
            });
    })
</script>

</body>
</html>
