<!DOCTYPE html>
<html>
<head>
    <style>
        .centered {
        margin-left: auto;
        margin-right:auto;
        }
        .right {
        float: right;
        }
        table {
        align: center;
        }
        td.num {
        text-align: right;
        width:10px;
        }
        .logo {
        float: left;
        }
    </style>
    <meta charset="UTF-8">
</head>
<body>
<div class="centered" >
    <h4>Contenedor # {{meta.uid}}</h4>
    <table class="centered">
        <tr>
            <td>日期 </td>
            <td>{{meta.timestamp.date().isoformat()}}</td>
        </tr>
        <tr>
            <td>箱数 </td>
            <td>{{meta.total_box}}</td>
        </tr>
        <tr>
            <td>毛重 </td>
            <td>{{meta.total_gross_weight_kg}}</td>
        </tr>
    </table>
    <table border="1" class="centered">
        {% for item in items%}
        <tr>
            <td>{{ item.item.box_code or ""}}</td>
            <td>{{item.prod_detail.providor_zh}}</td>
            <td>{{item.prod_detail.name_zh}}</td>
            <td class="num">{{ normalize_decimal(item.item.quantity) }} </td>
            <td>{{units[item.prod_detail.unit].name_zh}}</td>
            <td class="num">{{ decimal_places(item.item.price_rmb) }} </td>
            <td class="num">{{ decimal_places(item.item.price_rmb * item.item.quantity) }}</td>
            <td class="num">{{item.item.box  }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
