<html>
    <body>
        <h3>Producto:</h3>
        <p>Codigo: {{ prod.codigo }} </p>
        <p>Nombre: {{ prod.nombre }} </p>
        <h3>Contenidos:</h3>
        <table>
            <tr>
                <th>id</th>
                <th>prod_id</th>
                <th>bodega_id</th>
                <th>cant</th>
                <th>inactivo</th>
            </tr>
            {% for c in contenidos %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.prod_id }}</td>
                <td>{{ c.bodega_id }}</td>
                <td>{{ c.cant }}</td>
                <td>{{ c.inactivo }}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>Precios:</h3>
        <table>
            <tr>
                <th>id</th>
                <th>prod_id</th>
                <th>almacen_id</th>
                <th>nombre a mostrar</th>
                <th>precio1</th>
                <th>precio2</th>
                <th>cant_mayorista</th>
                <th>multiplicador</th>
                <th>upi</th>
            </tr>
            {% for p in pricelist %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.prod_id }}</td>
                <td>{{ p.almacen_id }}</td>
                <td>{{ p.nombre }}</td>
                <td>{{ p.precio1 }}</td>
                <td>{{ p.precio2 }}</td>
                <td>{{ p.cant_mayorista }}</td>
                <td>{{ p.multiplicador }}</td>
                <td>{{ p.upi }}</td>
            </tr>
            {% endfor %}
        </table>
        <div>
            {% for x in images %}
            <img src="{{x.imgurl}}" height="100" width="100" />
            {% endfor %}
        </div>
        {% from "macros.html" import post_img_form %}
        {{ post_img_form('prod', prod.codigo, '/app/adv/producto/{}'.format(prod.codigo)) }}
    </body>
</html>
