<html>
    <head>
        <title> {%block title %} {%endblock %} </title>
        <style>
            .menu {
                float : left;
                width : 300px;
                border-right-color : black;
                border-right-width : 3px;
                height:100%;
            }
            .content { float : left;   };

        </style>
    {%block script %}
    {%endblock%}
    </head>
    <body>
        <div class="menu">
        {% block menu %}
            <ul>
                <li> Productos
                    <ul>
                    <li> <a href="/app/crear_producto" > Nuevos Productos </a> </li>
                    <li> <a href="/static/new_prod.html" > Nuevos Productos Con unidad</a> </li>
                    <!--li> <a href="/r/producto/createbodega" > Crear Bodega </a> </li-->
                    <li> <a href="/app/ver_lista_precio" > Ver Lista de Precios</a> </li>
                    <li> <a href="/app/ver_producto_form" > Ver Productos </a> </li>
                    <li> <a href="/app/crear_ingreso" > Ingresos </a> </li>
                    <li> <a href="/app/ver_ingreso_form" > Ver Ingreso </a> </li>
                    <li> <a href="/app/ingresos_list" > Ver Ingresos Por Fecha </a> </li>
                    <li> <a href="/app/barcode_form" >Codigo de Barra</a> </li>
                    </ul>
                </li>

                <li> Clientes
                    <ul>
                    <li> <a href="/app/crear_cliente"> Crear Clientes </a> </li>
                    <li> <a href="/app/ver_cliente"> Buscar Clientes </a> </li>
                    </ul>
                </li>
                <li> Facturacion
                    <ul>
                        <li> <a href="/app/resumen_form"> Resumen de Venta </a></li>
                        <li> <a href="/app/entregar_cuenta_form"> Entregar Cuenta </a></li>
                        <li> <a href="/app/eliminar_factura"> Eliminar Factura</a></li>
                        <li> <a href="/app/ver_factura_form">Ver Facturas</a></li>
                        <li> <a href="/app/list_facturas">Listar Facturas</a></li>
                    </ul>
                </li>
                <li> Administrativo
                    <ul>
                        <li> <a href="/app/secuencia">Cambiar Secuencia</a></li>
                        <li> <a href="/app/entrega_de_cuenta_list">Listar Cuentas Pasadas</a></li>
                        <li> <a href="/app/ver_cantidad">Ver Cantidades en la bodega</a></li>
                        <li> <a href="/app/guardar_gastos">Registrar Gastos</a></li>
                        <li> <a href="/app/ver_gastos">Ver Gastos Registrados</a></li>
                    </ul>
                </li>
                <li> Contabilidad
                    <ul>
                        <li> <a href="/app/accounting_form">ATS</a></li>
                    </ul>
                </li>
                <li> Cheques
                    <ul>
                        <li> <a href="/app/guardar_cheque">Ingresar Cheque</a></li>
                        <li> <a href="/app/crear_banco_form">Ingresar Banco</a></li>
                        <li> <a href="/app/ver_cheques_guardados">Ver Cheques Ingresados</a></li>
                        <li> <a href="/app/ver_cheques_para_depositar">Ver Cheques para depositar</a></li>
                        <li> <a href="/app/ver_cheques_por_titular">Ver Cheques por titular</a></li>
                        <li> <a href="/app/guardar_deposito">Ingresar Depositos</a></li>
                        <li> <a href="/app/guardar_abono">Ingresar Abono</a></li>
                        <li> <a href="/app/guardar_retension">Ingresar Retension</a></li>
                    </ul>
                </li>
        </ul>
        {%endblock %}
        </div>
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
