{%extends "base.html" %}
{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.guardar').click(function() {
            alert('called');
            var num = $(this).attr('num');
            var codigo = $(this).attr('codigo');
            var alm = $(this).attr('alm');
            var codigo = $(this).attr('codigo');
            var alm = $(this).attr('alm');
            var url = '/api/alm/' + alm + '/producto/' + encodeURIComponent(codigo);
            var data = {
                precio1: $('#' + num + '-precio1').val(),
                precio2: $('#' + num + '-precio2').val(),
                nombre: $('#' + num + '-num').val(),
                prod_id: $('#' + num + '-nombre').val(),
            };
            data = JSON.stringify(data);
            alert(data);
            $.ajax({
                url: url,
                type: 'PUT',
                data: data,
                success: function(result) {
                    alert(result);
                },
                failure: function(error) {
                    alert(error);
                }
            });
        });
        $('.eliminar').click(function() {
            var codigo = $(this).attr('codigo');
            var alm = $(this).attr('alm');
            var url = '/api/alm/' + alm + '/producto/' + encodeURIComponent(codigo);
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function(result) {
                    $('tr#' + codigo).remove();
                },
                failure: function(error) {
                    alert(error);
                }
            });
        });
    });
</script>
{% endblock %}
{%block content%}
<div>
    <table>
        {% for p in prods %}
        <tr id="{{p.codigo}}">
            <td><input id="{{loop.index}}-codigo" value="{{p.codigo}}" /></td>
            <td><input id="{{loop.index}}-nombre" value="{{p.nombre}}" /></td>
            <td><input id="{{loop.index}}-precio1" value="{{p.precio1}}" /></td>
            <td><input id="{{loop.index}}-precio2" value="{{p.precio2}}" /></td>
            <td><input id="{{loop.index}}-threshold" value="{{p.threshold}}" /></td>
            <td><button num="{{loop.index}}" alm="{{p.almacen_id}}" codigo="{{p.codigo}}" class="guardar">Guardar</button></td>
            <td><button num="{{loop.index}}" alm="{{p.almacen_id}}" codigo="{{p.codigo}}" class="eliminar">Eliminar</button></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
