<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/static/prod.js"></script>
        <script type="text/javascript">
            function updateOptions(type) {
                if (type === 'INGRESO') {
                    $('#desde_bodega').show();
                    $('#hasta_externa').hide();
                    $('#hasta_bodega').hide();
                } else if (type == 'EXTERNA') {
                    $('#desde_bodega').show();
                    $('#hasta_externa').show();
                    $('#hasta_bodega').hide();
                } else if (type == 'TRANSFER') {
                    $('#desde_bodega').show();
                    $('#hasta_externa').hide();
                    $('#hasta_bodega').show();
                } else if (type == 'EGRESO') {
                    $('#desde_bodega').hide();
                    $('#hasta_externa').hide();
                    $('#hasta_bodega').show();
                }
            }
            $(document).ready(function(){
                initEvents();
                var a = getRow();
                $("#insert").append(a);
                $("select#tipo").change(function() {
                    var type = $(this).val();
                    updateOptions(type);
                });
                $('#cargar_ingreso').click(function() {
                    var ing_id = $('#ingreso_id').val();
                    getIngreso(ing_id, function(status, result) {
                        for (var i in result.items) {
                            var row = result.items[i];
                            var cant = row[2];
                                if (cant > 0 ) {
                                $('#cod' + (count-1)).val(row[1]);
                                $('#cant' + (count-1)).val(row[2]);
 ;                               $('#span' + (count-1)).html(row[3]);
                                var newRow = getRow();
                                $("#insert").append(newRow);
                            }
                        }
                    });
                });
                
            });
        </script>
        <style> input.text_field { width : 100px }
            .center {
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
    <div class="center">
        <button onClick="window.location='/r';" > Regresar </button>
        <input id="ingreso_id"/> <button id="cargar_ingreso"> Copiar Ingreso Viejo</button>
        <form id="p" method="post" action="/app/crear_ingreso">
            <p><input type="submit" value="Guardar"/></p>
            <select id="tipo" name="trans_type">
                {% for o in types %}
                <option value="{{o}}">{{o}}</option>
                {% endfor %}
            </select>
            <br/>
                <div id="desde_bodega" class="type_select">
                    <label>Desde bodega:</label>
                    <select name="origin">
                    {% for i in bodegas %}
                    <option value="{{i.id}}">{{i.nombre}}</option> 
                    {% endfor %}
                    </select>
                </div>
                <div id="hasta_bodega" class="type_select" style="display:none;">
                <label>Hasta bodega:</label>
                <select name="dest">
                    {% for i in bodegas %}
                    <option value="{{i.id}}">{{i.nombre}}</option> 
                    {% endfor %}
                </select>
                </div>
                <div id="hasta_externa" class="type_select" style="display:none;">
                    <label>Hasta bodega externa:</label>
                    <select name="externa">
                        {% for i in externas%}
                        <option value="{{i.id}}">{{i.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <table id="insert" cellspacing="10px">
                    <tr>
                        <td></td>
                        <th> Codigo </th>
                        <th> Cantidad </th>
                        <th> Nombre de Producto </th>
                    </tr>
                </table> 
            </form>
        </div>
    </body>
</html>
