{%extends "base.html"%}
{%block title%}Crear Producto{%endblock%}
{%block script%}
<style>
.baseform {
    left-margin: auto;
    right-margin: auto;
    width: auto;
    float: left;
}
.prod_label {
    width: 30%;
    float: left;
}
input.prod_input {
    float: left;
    width: 70%;
}
.precios {
    width:100%;
}
</style>
{%endblock%}

{%block content%}
<form class="baseform" action="/app/crear_producto" method="post">
    <h5>{{ message }}</h5>
    <h4>Crear Producto</h4>
    <label class="prod_label" for="codigo">Codigo:</label><input class="prod_input" name="codigo" />
    <label class="prod_label" for="nombre">Nombre:</label><input class="prod_input" name="nombre" />
    <label class="prod_label" for="categoria">Categoria</label>
    <select name="categoria">
        {%for x in categorias %}
        <option value="{{x.id}}">{{x.nombre}}</option>
        {%endfor%}
    </select>
    <br/>        
    <div class="precios">
        <h4>Precios</h4>
        {% for x in almacenes %}
        <p>{{x.nombre}}<p>
        <label class="prod_label" for="precio1">Precio 1</label>
        <input class="prod_input" name="{{x.almacen_id}}-precio1" />
        <label class="prod_label" for="precio2">Precio 2</label>
        <input class="prod_input" name="{{x.almacen_id}}-precio2" />
        <label class="prod_label" for="precio2">Cantidad Mayorista</label>
        <input class="prod_input" name="{{x.almacen_id}}-thres" />
        <br/><br/><br/>
        {% endfor %}
    </div>
    <input name="submit" type="submit" />
</form>
{%endblock%}
