<html>
    <head>
        <title> Ingresos : {{ingreso.uid}} </title>
        <style>
            body {
                text-align : center;
            }
            .cant {
                text-align: right; 
            }
            .codigo {
                text-align: left; 
            }
            
        </style>
        <script src="/static/jquery-1.7.2.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            var current_id = {{ingreso.meta.uid}};
            $(document).ready(function() {
                $('#post_button').click(function() {
                    var button = $(this);
                    $.ajax({
                        'url': '/api/ingreso/' + current_id,
                        'type': 'PUT',
                        'success': function(data) {
                            $('#estado').html(data.status);
                            button.text('Postear');
                        },
                        'error': function(ajax, statusText, error) {
                            alert('Fallo de postear...');
                            button.text('Postear');
                            button.prop('disabled', false);
                        }
                    });
                    button.text('Posteando...');
                    button.prop('disabled', true);
                });
                $('#delete_button').click(function() {
                    var button = $(this);
                    $.ajax({
                        'url': '/api/ingreso/' + current_id,
                        'type': 'DELETE',
                        'success': function(data) {
                            $('#estado').html(data.status);
                            button.text('Eliminar');
                        },
                        'error': function(ajax, statusText, error) {
                            alert('Fallo de eliminar...');
                            button.text('Eliminar');
                            button.prop('disabled', false);
                        }
                    });
                    button.text('Eliminando...');
                    button.prop('disabled', true);
                });
            });
        
        </script>
    </head>

    <body>
        <button onClick="window.print();" > Imprimir </button>
        <button onClick="window.location='/r';" > Regresar al principio </button>
        <h3>
            {% if ingreso.meta.trans_type == 'TRANSFER' %}
            Transferencia: {{ingreso.meta.origin}} a {{ingreso.meta.dest}}
            {%elif ingreso.meta.trans_type == 'EXTERNA' %}
            {{ingreso.meta.ref}}: Desde {{ingreso.meta.origin}}
            {%elif ingreso.meta.trans_type == 'INGRESO' %}
            Ingreso: {{ingreso.meta.dest}}
            {%elif ingreso.meta.trans_type == 'EGRESO' %}
            Egreso: {{ingreso.meta.origin}}
            {%endif%}
        </h3>
        <h4> Codigo: {{ingreso.meta.uid}}</h4>
        <table align="center" width=600>
            <tr>
                <th width=100>Fecha</th>
                <td>{{ingreso.meta.timestamp}}</td> 
                <th width=100>Estado</th>
                <td id="estado">{{ingreso.meta.status}}</td> 
                <td><button id="post_button"{% if ingreso.meta.status != 'NUEVO' %}disabled="true"{% endif %}>Postear</button></td>
                <td><button id="delete_button"{% if ingreso.meta.status == 'ELIMINADO' %}disabled="true"{% endif %}>Eliminar</button></td>
            </tr>
        </table>
        <!--items-->
        <br />
        <hr />
        <table width=600 align="center">
            <tr>
                <th width=100 class="codigo">Codigo</th>
                <th>Nombre</th>
                <th width=150 class="cant">Cambio de Cantidad</th>
            </tr>
            {% for i in ingreso.items %}
            <tr>
                <td width=100>{{i.prod.codigo}}</td> 
                <td>{{i.prod.nombre}}</td> 
                <td width=100 class="cant">{{i.cant}}</td> 
            </tr>
            {%endfor %}
        </table>
    </body>
</html>
