<html>
    <head>
        <title> Ingresos : {{ingreso.uid}} </title>
        <style>
            body {
                text-align : center;
            }
            .cant {
                text-align: right; 
            }
            .codigo {
                text-align: left; 
            }
            
        </style>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script>
            var current_id = {{ingreso.uid}};
            $(document).ready(function() {
                $('#post_button').click(function() {
                    var button = $(this);
                    $.ajax({
                        'url': '/api/ingreso/' + current_id,
                        'type': 'PUT',
                        'success': function() {
                            button.text('Postear');
                        },
                        'error': function(ajax, statusText, error) {
                            alert('Fallo de postear...');
                            button.text('Postear');
                            button.prop('disabled', false);
                        }
                    });
                    button.text('Posteando...');
                    button.prop('disabled', true);
                });
                $('#delete_button').click(function() {
                });

            });
        
        </script>
    </head>

    <body>
        <button onClick="window.print();" > Imprimir </button>
        <button onClick="window.location='/r';" > Regresar al principio </button>
        <h3>
            {% if ingreso.trans_type == 'TRANSFER' %}
            Transferencia: {{ingreso.origin}} a {{ingreso.dest}}
            {%else%}
            Ingresos :
            {%endif%}
            {{ingreso.dest}}  
        </h3>
        <h4> Codigo: {{ingreso.uid}}</h4>
        <table align="center" width=600>
            <tr>
                <th width=100>Fecha</th>
                <td>{{ingreso.timestamp}}</td> 
                <th width=100>Estado</th>
                <td>{{ingreso.status}}</td> 
                <td><button id="post_button"{% if ingreso.status != 'creado' %}disabled="true"{% endif %}>Postear</button></td>
                <td><button id="delete_button"{% if ingreso.status == 'eliminado' %}disabled="true"{% endif %}>Eliminar</button></td>
            </tr>
        </table>
        <!--items-->
        <br />
        <hr />
        <table width=600 align="center">
            <tr>
                <th width=100 class="codigo">Codigo</th>
                <th>Nombre</th>
                <th width=100 class="cant">Cantidad</th>
            </tr>
            {% for i in ingreso.items %}
            <tr>
                <td width=100>{{i[1]}}</td> 
                <td>{{i[2]}}</td> 
                <td width=100 class="cant">{{i[0]}}</td> 
            </tr>
            {%endfor %}
        </table>
    </body>
</html>
