{% macro start_end_date(start_value='', end_value='') %}
{% if not start_value %}
    {% set start_value = today().isoformat() %}
{% endif %}
{% if not end_value %}
    {% set end_value = today().isoformat() %}
{% endif %}
<p>Desde: <input name="start" value="{{start_value}}" /></p>
<p>Hasta: <input name="end" value="{{end_value}}" /></p>
{% endmacro %}

{% macro start_end_date_oneline(start_value='', end_value='') %}
{% if not start_value %}
{% set start_value = today().isoformat() %}
{% endif %}
{% if not end_value %}
{% set end_value = today().isoformat() %}
{% endif %}
Desde: <input name="start" value="{{start_value}}" />
Hasta: <input name="end" value="{{end_value}}" />
{% endmacro %}

{% macro selector(contents, name, key, value)%}
<select name="{{ name }}">
    {% for s in contents%}
    <option value="{{s[key]}}">{{s[value]}}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro select_bodega(bodegas)%}
{{ selector(bodegas, 'bodega_id', 'id', 'nombre') }}
{% endmacro %}


{% macro select_almacen(stores)%}
{{ selector(stores, 'almacen_id', 'almacen_id', 'nombre') }}
{% endmacro %}

{% macro select_cat(categoria) %}
{{ selector(categoria, 'categoria', 'id', 'nombre') }}
{% endmacro %}


{% macro generate_form(form_data) %}
{% for label, name in form_data %}
<p>{{label}}: <input id="{{name}}" name="{{name}}"/></p>
{% endfor %}
{% endmacro %}

