{%extends "base.html" %}
{% block script %}
<script src="/static/jquery-1.7.2.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    var prod_id = '{{prod.codigo}}';
    $(document).ready(function() {
        $('.editar').click(function() {
            var alm_id = $(this).attr('alm');
            $('#p1-' + alm_id).prop('disabled', false);
            $('#p2-' + alm_id).prop('disabled', false);
            $('#cant_mayorista-' + alm_id).prop('disabled', false);
            $('#guardar-' + alm_id).show();
            $(this).hide();
        });
        $('.guardar').click(function() {
            var alm_id = $(this).attr('alm');
            var p1 = $('#p1-' + alm_id).val();
            var p2 = $('#p2-' + alm_id).val();
            var cant_mayorista = $('#cant_mayorista-' + alm_id).val();
            var url = '/api/alm/' + alm_id + '/producto/' + prod_id;
            var self = $(this);
            $.ajax({
                url: url,
                method: 'PUT',
                data: JSON.stringify({
                    precio1: p1*100,
                    precio2: p2*100,
                    cant_mayorista: cant_mayorista
                }),
                success: function() {
                    alert('Precio Guardado');
                    $('#p1-' + alm_id).prop('disabled', true);
                    $('#p2-' + alm_id).prop('disabled', true);
                    $('#cant_mayorista-' + alm_id).prop('disabled', true);
                    $('#editar-' + alm_id).show();
                    self.hide();
                },
                failure: function() {
                    alert('Fallo en Guardar, entente de nuevo');
                }
            });

        });
    });
</script>
{% endblock %}

{%block content%}

<div>
    <h4>Producto: {{prod.codigo}}</h4>
    <ul>
    <li><h4>{{prod.nombre}}</h4></li>
    {% for x in prod.precios %}
    <li>
        {{x.almacen_name}} <button class="editar" id="editar-{{x.almacen_id}}" alm="{{x.almacen_id}}">Editar</button>
        <button style="display:none;" class="guardar" id="guardar-{{x.almacen_id}}" alm="{{x.almacen_id}}">Guardar</button>
        <ul>
            <li>Precio1: <input id="p1-{{x.almacen_id}}" disabled value="{{value_from_cents(x.precio1)}}"/></li>
            <li>Precio2: <input id="p2-{{x.almacen_id}}" disabled value="{{value_from_cents(x.precio2)}}"/></li>
            <li>Cant Mayorista: <input id="cant_mayorista-{{x.almacen_id}}" disabled value="{{x.threshold}}"/></li>
        </ul>
    </li>
    {% endfor %}
    </ul>
    </table>
</div>

{% endblock %}
