{%extends "base.html"%}
{%block title%}Resumen de Venta {%endblock%}
{%block script%}
<style>
.baseform {
    left-margin: auto;
    right-margin: auto;
    width: auto;
    float: left;
}
.prod_label {
    width: 50%;
    float: left;
}
</style>
{%endblock%}

{%block content%}
<form class="baseform" action="/app/resumen" method="get">
    <h5>{{ message }}</h5>
    <h4>Resumen de Venta</h4>
    {% from "macros.html" import start_end_date %}
    {{ start_end_date() }}
    <p>
        <label class="prod_label" for="almacen">Almacen:</label>
        <select name="almacen">
            {%for x in almacenes%}
            <option value="{{x.almacen_id}}">{{x.nombre}}</option>
            {%endfor%}
        </select>
    </p>
    <p>
        <label class="prod_label" for="user">Vendido Por:</label>
        <select name="user">
            {%for x in users%}
            <option value="{{x.username}}">{{x.username}}</option>
            {%endfor%}
        </select>
    </p>
    <br/>        
    <input name="Aceptar" type="submit"/>
</form>
{%endblock%}
