{%extends "base.html"%}
{%block title%}Ver Factura{%endblock%}
{%block script%}
<style>
.baseform {
    left-margin: auto;
    right-margin: auto;
    width: auto;
    float: left;
}
.prod_label {
    width: 30%;
    float: left;
}
.prod_input {
    float: left;
    width: 70%;
}
.precios {
    width:100%;
}
</style>
{%endblock%}

{%block content%}
<p class="baseform" action="/app/ver_factura" method="get">
    <h5>{% if message %} {{ message }} {% endif %}</h5>
    <h4>Ver Factura</h4>
    <p><label for="almacen">Almacen:</label>
       {% from "macros.html" import select_almacen %}
       {{ select_almacen(almacenes) }}</p>
    <p>
       <label for="id_no_de_factura">No de factura:</label>
       <input type="text" name="codigo" id="id_no_de_factura" /> </p>
    <p><input type="submit" value="Aceptar" /></p>
    </table>
</form>
{%endblock%}
