<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .red {
            background-color: green;
        }
        td,th {
            padding-left: 50px;
            border: 1px 1px 1px 1px;
            text-align: right;
        }
    </style>

</head>
<body>
    {% from "macros.html" import start_end_date, select_bodega %}
    <form action="/app/ver_transacciones" method="get">
        {% from "macros.html" import start_end_date_oneline %}
        {{ start_end_date_oneline(start.date(), end.date()) }}
        Codigo:
        <input name="prod_id" value="{{prod_id}}" />
        Bodega:
        {{ select_bodega(bodegas) }}
        <input type="submit" value="Buscar" />
    </form>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Bodega</th>
            <th>Codigo</th>
            <th>Referencia</th>
            <th>Ingreso</th>
            <th>Egreso</th>
            <th>Saldo</th>
        </tr>
        {% for i in items %}
        <tr {% if i.delta > 0 %}class="green"{%endif%}>
            <td>{{ i.fecha }}</td>
            <td>{{ i.bodega_name }}</td>
            <td>{{ i.prod_id}}</td>
            <td>{{ i.ref}}</td>
            <td>{% if i.delta > 0 %}{{ i.delta }} {% endif %}</td>
            <td>{% if i.delta <= 0 %}{{ i.delta }} {% endif %}</td>
            <td>{{ i.count }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>