{%extends "base.html"%}
{%block title%}{{title}}{%endblock%}

{%block script%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/prod.js"></script>
<script>
    var baseurl = '{{baseurl}}';
    $(document).ready(function() {
        $('#buscar_por_codigo').click(function() {
            var codigo = $('#codigo').val();
            var newurl = baseurl + '/' + codigo;
            window.location = newurl;
        });
        $('#buscar_por_nombre').click(function() {
            var nom = $('#nombre').val();
            var newurl = baseurl + '?prefijo=' + nom;
            window.location = newurl;
        });
    });

</script>
<style>
.baseform {
    left-margin: auto;
    right-margin: auto;
    width: auto;
    float: left;
}
.prod_label {
    width: 40%;
    float: left;
}
input {
    float: left;
    width: 40%;
}
button {
    width: 20%;
    float: left;
}
</style>
{%endblock%}

{%block content%}
<h3>{{title}}</h3>
<div class="baseform">
    <label for="codigo" class="prod_label">Ver por codigo:</label><input id="codigo" /> 
    <button id="buscar_por_codigo">Ver</button>
    <br/>
    <label for="codigo" class="prod_label">Buscar por Nombre:</label><input id="nombre" />
    <button id="buscar_por_nombre">Buscar</button>
</div>
{%endblock%}
